<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gabama.gabama"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Gabama Mobile</name>

    <description>
        test. 
    </description>
<gap:splash src="res/screen/ios/Default.png" />
<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
<preference name="Fullscreen" value="true" />
<preference name="Orientation" value="portrait" />
<preference name="DisallowOverscroll" value="true"/>
<icon src="res/icon/gabama-logo-fill.png" />
<platform name="ios">
	<!-- images are determined by width and height. The following are supported -->
	<splash src="res/screen/ios/Default.png" width="320" height="480"/>
	<splash src="res/screen/ios/Default@2x.png" width="640" height="960"/>
	<splash src="res/screen/ios/Default-568h.png" width="640" height="1136"/>
	<splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
	<splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
	<splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
</platform>
</widget>
