<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gabama.gabama"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Gabama</name>

    <description>
        test. 
    </description>
<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
<gap:plugin name="org.apache.cordova.splashscreen" />

<!-- iPhone 6 -->
<gap:splash src="img/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="img/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="img/ios/Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />

<preference name="Fullscreen" value="true" />
<preference name="Orientation" value="portrait" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
<preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->

<icon src="gabama-logo.png" />
</widget>
