<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gabama.gabama"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Gabama</name>

    <description>
        test. 
    </description>
<gap:splash src="img/default.png" />
<gap:splash src="img/default.png" gap:platform="ios" width="320" height="480" /> <!-- iPhone & iPod Touch non retina -->
<gap:splash src="img/default.png" gap:platform="ios" width="640" height="960" /> <!-- iPhone & iPod Touch retina 4- -->
<gap:splash src="img/default.png" gap:platform="ios" width="640" height="1136" /> <!-- iPhone & iPod Touch retina 5+ -->
<gap:splash src="img/default.png" gap:platform="ios" width="1024" height="768" /> <!-- iPad non retina -->
<gap:splash src="img/default.png" gap:platform="ios" width="768" height="1024" /> <!-- iPad non retina -->
<gap:splash src="img/default.png" gap:platform="ios" width="2048" height="1496" /> <!-- iPad retina -->
<gap:splash src="img/default.png" gap:platform="ios" width="1536" height="2008" /> <!-- iPad retina -->
<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
<preference name="Fullscreen" value="true" />
<preference name="Orientation" value="portrait" />
<preference name="DisallowOverscroll" value="false"/>
<icon src="gabama-logo.png" />
</widget>
